extends base.pug

block content
    if errorMessage
        h3=errorMessage
    form(method="POST")
        label(for="walkerIntro") 선생님 소개
        input(placeholder=walkerIntro, id = "walkerIntro", name="walkerIntro", type="text", required)
        label(for="location") 서비스 지역
        input(placeholder=location, id = "location", name="location", type="text")
        if add_or_edit == "add"
            input(type="submit", value="등록")
        else
            input(type="submit", value="수정")