extends ../base.pug

block content
    h1 #{lecture.lectureName} 강의 페이지
    hr
    h2 게시물
    if lecture.noticeIds.length === 0
        h3(style="color:red") 아직 게시물이 없습니다. 학생들을 위해 첫 게시물을 등록해주세요.
    else
        ul
            each noticeUrl in lecture.noticeUrls
                li
                    a(href=noticeUrl) 게시물 파일 링크
    a(href=`/prof/lecture/newNotice/${lecture._id}`) 게시물 등록