header
    nav
        ul
            li
                a(href="/user/login") Login
            li
                a(href="/user/signup") Signup
            li
                a(href="/user/profile") Profile
            
