header
    nav
        ul

            li
                a(href="/") 
                    img(src= "logo.png" width = "50", height = "50")
            if loggedIn
                li
                    a(href="/logout") 로그아웃
                li
                    a(href="/accountInfo") 회원정보 수정
                if loggedInUser.userType === "보호자"
                    li
                        a(href="/owner/dog/info") 프로필(#{loggedInUser.id}보호자님)
                else
                    li
                        a(href="/walker/info") 프로필(#{loggedInUser.id}선생님)

            else
                li
                    a(href="/login") 로그인
                li
                    a(href="/signup") 회원가입

            
