extends base.pug

block content
    if loggedIn
        if loggedInUser.userType === "owner"
            if infoErrorMessage
                h3=infoErrorMessage
                div
                    a(href="owner/dog") 강아지 등록하러 가기
            else
                div
                    a(href="match") 선생님 만나러 가기 &rarr;
        else
            if infoErrorMessage
                h3=infoErrorMessage
                div
                    a(href="walker/info") 선생님 정보 등록하러 가기
            else 
                div
                    a(href="match") 보호자님 만나러 가기 &rarr;

    else
        h1 Welcome to Dog Walk
        H3 Dog Walk에 가입해서 서비스를 이용해보세요!
        div
            a(href="/user/signupType") 회원가입 하러 가기 &rarr;
    br
    br
    br
    img(src= "home_background.png")


        