extends base.pug

block content
    h1 회원가입할 계정 종류를 선택해 주세요
    if errorMessage 
        h3=errorMessage
    div
        div 
            a(href="/user/signupOwner") owner
            a(href="/user/signupWalker") walker 
        div
    div
        span 계정이 있으신가요?
        a(href="/user/login") 로그인 &rarr;